/********************************************************
 *														*
 *	Based on the dimmed monokai theme for Visual Studio Code.	*
 *														*
 ********************************************************/

 

/**
 *	Width of the list
 **/
#list_surround
{
	width: 60%;
	left: 20%;
	position: absolute;
}

#list_surround:nth-of-type(n+4):hover td:nth-of-type(3),
#list_surround:nth-of-type(n+4):hover td:nth-of-type(4), 
#list_surround:nth-of-type(n+4):hover td:nth-of-type(5), 
#list_surround:nth-of-type(n+4):hover td:nth-of-type(6), 
#list_surround:nth-of-type(n+4):hover td:nth-of-type(7),
#list_surround:nth-of-type(n+4):hover td:nth-of-type(8) 
{
    display:-cell;
}  

#list_surround small a:last-of-type
{
    display: none !important;
}

#list_surround small a:last-of-type {
    display: none !important;
}

.animetitle + small {
    visibility: visible !important;
}

#list_surround a[href*="http://myanimelist.net/panel.php?go=edit"],
#list_surround a[href*="http://myanimelist.net/editlist.php?type="], 
#list_surround a[href*="http://myanimelist.net/panel.php?go=add"] 
{
    visibility: visible !important;
    margin-right: 10px;
}

body
{
	background-color: #1e1e1e;
}

.header_title
{
	background-color: #9A9B99;
	font-size: 2em;
	font-family: Open Sans Condensed;
	height: 50px;
	color: #5b5b5b;
	left: 50px;
	text-align: center;
}

/**
 *   Colours the entire row when hovering over it.
 **/
tr:hover [class^=td] 
{
	background-color: #9A9B99 !important;
	-moz-transition: .4s ease;
	-webkit-transition: .4s ease;
	-o-transition: .4s ease;
}
